*{
    /* padding: 0px; */
    margin:0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
li{
    font-size: large;
}
.display{
    background-color: beige;
    width: 105px;
    height: 30px;
}