*{
    /* padding: 0px; */
    margin:0px;
    box-sizing: border-box;
}

li{
    font-size: large;
}
#display{
    background-color: buttonface;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}
.first,.second,.third,.fourth,.fifth{
    display: flex;
}
.calculator{
    width: 150px;
    height: 150px;
    margin: auto;
}
button{
    width: 37.5px;
    height: 30px;
}