*{
    /* padding: 0px; */
    margin:0px;
    box-sizing: border-box;
}

li{
    font-size: large;
}
#display{
    background-color: buttonface;
    width: 105px;
    height: 30px;
}
.first,.second,.third,.fourth,.fifth{
    display: flex;
}